@font-face {
    font-family: Roboto-Slab;
    src: url(../fonts/RobotoSlab-Light.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Medium.ttf);
}

.header {
    padding: 5px;
}
.header a {
    color: white;
    text-decoration: none;
}
.logo-block img:hover {
    color: white;
    text-decoration: none;
    transform: scale(1.1);
}
.nav_link {
    color: white;
    text-decoration: none;
    transition: 0.5s ease;
    text-align: center;
    line-height: 50px;
    font-family: Roboto-Slab;
    font-size: 24px;
    white-space: nowrap;
}
.nav_link:hover {
    color: black;
    background-color: white;
}
.logo {
    width: 300px;
}
.phone a:hover {
    border-bottom: 1px solid white;
}

.benefit-block {
	padding: 15px;
}
.benefit-text {
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	min-height: 300px;
	background-color: white;
    transition: 0.5s ease;
}
.benefit-text p {
    padding-top: 20px;
}
.benefit-img {
    min-width: 150px;
    max-width: 150px;
}
.benefit-text:hover {
    transform: scale(1.05);
    transition: 0.5s ease;
}

.example-item {
    box-shadow: rgba(255, 255, 255, 0.5) 0px 3px 10px;
    background-color: white;
    min-height: 350px;
    padding: 15px;
    transition: 0.5s ease;
}

.example-block {
    padding: 15px;
}
.example-item:hover {
    transform: scale(1.05);
    transition: 0.5s ease;
}

.example-img {
    min-width: 150px;
    max-width: 150px;
}

.price-item {
    min-height: 300px;
    min-width: 300px;
    padding: 15px;
    transition: 0.5s ease;
}
.price-item:hover {
    transform: scale(1.05);
    transition: 0.5s ease;
}
.price-img {
    min-height: 150px;
    max-height: 150px;
    object-fit: contain;
}
.carousel-inner
{
	height: 300px;
}
.carousel-item
{
	font-size: 20px;
	height: 100%;
}
.slide
{
	height: 100%;
	width: 100%;
	padding: 50px;
}

.fs-1 {
    font-family: Roboto;
}
.order-block .container {
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 20px;
}

label {
    font-size: 18px;
}
.map{
    overflow:hidden;
    padding-bottom: 56.25%;
    position:relative;
    height:0;
}
.map iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.contact-list {
    list-style: none;
    padding-left: 5px;
}
.contact-list-block {
    font-size: 20px;
}
footer * {
    width: max-content;
}
footer > p {
    font-size: 22px;
}
.social-title {
    font-size: 22px;
}
.social img {
    width: 30px;
}
.social-icons * {
    margin: 0 5px;
}

.social-icons a img:hover {
    opacity: 0.5;
}

.z-btn {
    border-radius: 50%;
}

.z-btns {
    position: fixed;
    bottom: 5%;
    right: 7%;
}

@media (max-width: 768px) {
	.slide {
		padding: 50px 25px;
        height: max-content;
	}
    .carousel-inner {
        overflow: scroll;
    }
}